* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  background-color: #ecf2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  width: 70%;
  height: 70%;
  gap: 30px;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-top: 80px;
}

.Daniel {
  background-color: #7140c7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(102, 95, 141, 0.432);
  grid-column: span 2;
  color: white;
}

.heading {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  margin-bottom: 30px;
}

.name {
  display: flex;
  flex-direction: column;
  font-size: large;
  gap: 5px;
  font-weight: 500;
  color: white;
}

.status {
  color: rgba(255, 255, 255, 0.562);
  font-size: 16px;
}

.images {
  width: 50px;
  height: 50px;
  border: solid 5px rgba(255, 255, 255, 0.39);
  border-radius: 50%;
}

.quote {
  height: 10rem;
  width: 10rem;
  margin-top: 30px;
  margin-left: 250px;
}

.heading-quote {
  font-weight: 600;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.2;
  color: white;
}

.heading-quote2 {
  color: rgba(255, 255, 255, 0.637);
  line-height: 1.4;
  font-size: larger;
}

.Jonathan {
  background-color: #49556a;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(102, 95, 141, 0.432);
}

.Kira {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(54, 54, 54, 0.075);
  grid-row: span 2;
}

.Kira-name {
  display: flex;
  flex-direction: column;
  font-size: large;
  gap: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.692);
}

.kira-status {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.336);
}

.kira-quote {
  font-weight: 600;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.2;
  color: rgb(71, 71, 71);
}

.kira-quote2 {
  color: rgba(53, 53, 53, 0.685);
  line-height: 1.5;
  font-size: large;
  font-weight: 600;
}

.Jeanette {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(54, 54, 54, 0.075);
}

.Patrick {
  background-color: #19202c;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(102, 95, 141, 0.432);
  grid-column: span 2;
}

.attribution {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: "Barlow Semi Condensed", sans-serif;
    position: relative;
  }

  .quote {
    height: 10rem;
    width: 10rem;
    margin-top: 30px;
    position: fixed;
    z-index: 0;
  }

  .Daniel {
    padding: 30px;
    width: 335px;
  }

  .Jonathan {
    padding: 30px;
    width: 335px;
  }

  .Jeanette {
    padding: 30px;
    width: 335px;
  }

  .Patrick {
    padding: 30px;
    width: 335px;
  }
  .Kira {
    padding: 30px;
    width: 335px;
  }

  .heading-quote2 {
    font-size: 13px;
  }

  .heading-quote {
    font-size: 18px;
  }

  .kira-quote {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .kira-quote2 {
    font-size: 13px;
  }
}
