* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  background-color: #ecf2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  display: grid;
  width: 80%;
  height: 80%;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.Daniel {
  background-color: #7140c7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(102, 95, 141, 0.432);
  grid-column: span 2;
  color: white;
}

.heading {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  margin-bottom: 30px;
}

.name {
  display: flex;
  flex-direction: column;
  font-size: large;
  gap: 5px;
  font-weight: 500;
  color: white;
}

.status {
  color: rgba(255, 255, 255, 0.562);
  font-size: 16px;
}

.images {
  width: 50px;
  height: 50px;
  border: solid 5px rgba(255, 255, 255, 0.39);
  border-radius: 50%;
}

.quote {
  height: 10rem;
  width: 10rem;
  margin-top: 30px;
  margin-left: 250px;
}

.heading-quote {
  font-weight: 600;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.2;
  color: white;
}

.heading-quote2 {
  color: rgba(255, 255, 255, 0.637);
  line-height: 1.4;
  font-size: larger;
}

.Jonathan {
  background-color: #49556a;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(102, 95, 141, 0.432);
}

.Kira {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(54, 54, 54, 0.075);
  grid-row: span 2;
}

.Kira-name {
  display: flex;
  flex-direction: column;
  font-size: large;
  gap: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.692);
}

.kira-status {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.336);
}

.kira-quote {
  font-weight: 600;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.2;
  color: rgb(71, 71, 71);
}

.kira-quote2 {
  color: rgba(53, 53, 53, 0.685);
  line-height: 1.5;
  font-size: large;
  font-weight: 600;
}

.Jeanette {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(54, 54, 54, 0.075);
}

.Patrick {
  background-color: #19202c;
  padding: 20px;
  border-radius: 5px;
  box-shadow: opx opx rgba(54, 54, 54, 0.075);
  grid-column: span 2;
}
